{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
	<div class="log_in_p_2">
        <h3 style="margin:0px;">Please enter your new password:</h3>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
           {{ form.new_password1.errors }}
                        <label class="log_username_2" for="id_new_password1">New password:</label>
                  {{ form.new_password1 }}
                
                
                {{ form.new_password2.errors }}
                        <label class="log_username_2" for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
                   <input class="log_sub_3" type="submit" value="Change my password" />

        </form>
		</div>
    {% else %}
	<div class="done_res">
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
		</div>
    {% endif %}

{% endblock %}